.navbar-bg {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px 20px 20px 20px;
    	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-top: 5px;
	background-image: linear-gradient(to bottom right, #005a89, #00b494)
}

